%h1 Change your password
= form_for(resource, as: resource_name, url: password_path(resource_name), html: { class: 'form-horizontal', method: :put}) do |f|
  = devise_error_messages!
  = f.input :reset_password_token, as: :hidden
  = f.full_error :reset_password_token
  .form-group
      = f.label :password, class: "col-sm-2 control-label"
      .col-sm-10
        = f.password_field :password, required: true, autofocus: true
  .form-group
    = f.label :password_confirmation, class: "col-sm-2 control-label"
    .col-sm-10
      = f.password_field :password, required: true, autofocus: true
  .form-actions
    = f.submit "Change my password", class: "btn btn-primary btn-block"
= render "devise/shared/links"
