%h1 Forgot your password?
= form_for(resource, as: resource_name, url: password_path(resource_name), html: { class: 'form-horizontal', method: :post }) do |f|
  = devise_error_messages!
  .form-group
    = f.label :email, required: true, autofocus: true, class: "col-sm-2 control-label"
    .col-sm-10
      = f.email_field :email, class: "form-control"
  .form-group
    .span7.text-center
      .col-sm-4.col-centered
        = f.submit "Send me reset password instruction", class: "btn btn-primary btn-block"
  .form-group
    .span7.text-center
      .col-sm-4.col-centered
        = render "devise/shared/links"
