%p#notice= notice

%div.row.center-block
  %h2
    Category:
    = category.name
    - category.products.each do |product|
      %h3
      = product.title

%p
  - if current_user && current_user.admin?
    %h3 New product
    = render 'products/form'
    = link_to 'Edit', edit_category_path(category), class: 'btn btn-primary'
    = link_to 'Back', categories_path, class: 'btn btn-primary'
