%p#notice= notice
%p#error= flash[:error]

.col-md-12
  .panel.panel-default
    .panel-heading
      %h2.panel-title Title
    .panel-body
      = product.title
    .panel-heading
      %h2.panel-title Description
    .panel-body
      = product.description
    .panel-heading
      %h2.panel-title Price
    .panel-body
      = product.price
    .panel-heading
      %h2.panel-title Category
    .panel-body
      = product.category.name
    .panel-heading
      %h2.panel-title Reviews
    .panel-body
      - if (current_user == product.user) || current_user.admin?
        = render 'reviews/form'

- if (current_user == product.user) || current_user.admin?
  = link_to 'Edit', edit_category_product_path(category.id, product.id), class: 'btn btn-primary'

= link_to 'Back', category_path(product.category.id), class: 'btn btn-primary'
