%nav.navbar.navbar-inverse.navbar-fixed-top{:role => "navigation"}
  .container-fluid
    .navbar-text
      %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to 'Home', root_path, class: "navbar-link.glyphicon.glyphicon-home"
    #navbar.navbar-collapse.collapse
      %ul.nav.navbar-nav.navbar-right
        %li
          = link_to "My list (#{current_user.list.products.count})", list_path(current_user.list)
        %li
          = link_to "User profile", current_user
        %li
          = link_to "Log out", destroy_user_session_path, method: :delete
