%nav.navbar.navbar-inverse
  .container-fluid
    .navbar-text
      %a.navbar-link= link_to('Netguru Kraków Workshops 2014', root_path)
    .navbar-text.navbar-right
      - if user_signed_in?
        %p= "Logged as: #{current_user.email}"
        %a.navbar-link= link_to('Logout', destroy_user_session_path, :method => :delete)
      - else
        %a.navbar-link= link_to('Login', new_user_session_path)
