%html{ lang: 'en' }
  %head
    %title Online Gadget Store
    %meta{ charset: 'utf-8' }/
    %meta{ content: 'IE=Edge,chrome=1', 'http-equiv' => 'X-UA-Compatible' }/
    %meta{ content: 'width=device-width, initial-scale=1.0', name: 'viewport' }/
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'

  %body
    -if user_signed_in?
      = render 'layouts/active_header'
    -else
      = render 'layouts/inactive_header'
    .container-fluid
      .row.row-centered
        .col-xs-6.col-centered
          = yield

    = render 'layouts/footer'
